@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.block-status-button {
  width: auto;
  height: 18px;
  padding: 4px 10px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.005em;
  white-space: nowrap;
}

.blocked {
  background-color: #e0f2f1;
  color: 0F615C;
}

.declined {
  background-color: #f8dbda;
  color: #991b1b;
}

.open-for-invited {
  background-color: #f3f4f6;
  color: #1f2937;
}

.invited {
  background-color: #fef9c3;
  color: #854d0e;
}
