@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  white-space: nowrap;
}

