.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  transition: margin-left 0.3s;
}

.main-content {
  display: flex;
  height: 100vh; /*calc(100vh - 10px);*/
}
.left-area {
  display: flex;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  will-change: transform, width;
}

.left-area-hidden {
  transform: translateX(-250px);
  width: 0;
}

.content-area {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  border: 0 solid;
  border-top-width: 1px;
  border-color: #ccc;
  transition: flex-grow 0.3s ease-in-out;
}

.arrow-btn {
  position: absolute;
  top: 90%;
  left: calc(250px + 8px);
  transition: left 0.3s ease-in-out;
  width: 24px;
  height: 24px;
}

.transformed-btn {
  left: 30px;
  transform: translateX(-100%) rotate(180deg);
  transition: left 0.3s ease-in-out;
}
