@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.email-input-container {
  display: flex;
  flex-direction: column;
}

.email-input-wrapper {
  margin-bottom: 16px;
}

.email-input-wrapper:last-child {
  margin-bottom: 0;
}

.email-label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #111928;
}

.email-input {
  width: 392px;
  height: 51px;
  border: 1px solid #e5e7eb;
  border-radius: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: 0.005em;
  text-align: left;
  padding-left: 16px;
  color: #6b7280;
}

.email-input::placeholder {
  color: #6b7280;
}
