.container {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* FullScreenDiv 样式，设置其高度和宽度为100% */
  .full-screen {
    width: 100%;
    height: 100%;
    background-color: lightblue; /* 可以添加背景颜色以更明显地看到效果 */
  }